@charset "utf-8";

/* CSS Document */
*{margin: 0;
padding: 0}
header{
	width: 100%	;
	height: 100vh;
	color: aqua;
}
.bg{
	background-color: rgba(0,0,0,0.00);
	height: 8vh;
	position: relative;
	width: 100%;
}
.bg:hover{
	background-color: rgba(0,0,0,0.60);
	
}
.bigmenu{
	width: 100%;
	height: 8vh;
	position: absolute;
	z-index: 10;
}
.logo{
	width: 40%;
	height: 8vh;
	background-size: cover;
	float: left;
}
.logo img {
	height:7vh;
	position: absolute;
	left: 40px;
	top: 5px;
	z-index: 1000
}
.menu{
	width: 60%;
	height: 8vh;
	float: right;
	color: white;
	line-height: 8vh
}
.menu ul{
	list-style-type: none;
	position: absolute;
	right: 100px;
}
.menu ul li{
	display: inline;
	padding: 0 30px;
}
.menu a{
	   text-decoration: none;
	color: white;
	font-size: 20px;

}
.top{
 width: 100%;
	height: 100vh;
/*	background-image: url("hogward.jpg");*/
	position: absolute;
	background-size: cover;
}
.hinh1{
	height: 55vh;
	position: absolute;
	left: 25%;
	top: 25%;
	animation-name: hinh1;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes hinh1{
	0%{
	transform:translateX(-5px) translateY(5px)
	}
	50%{
		transform: translateX(5px) translateY(10px)
	}
	100%{
	transform:translateX(-5px) translateY(5px)
	}
}
.dumbledoor{
	height: 100vh;
	width: 100%;
	background:#000000;
	
}
.top {
  position: relative;
  min-height: 100%;
  width: 100%;
  transform-style: inherit;
  z-index: -1;
}

.top::before {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  display: block;
  background: url("Layer 0.png") top center;
  background-size: cover;
  transform: translateZ(-1px) scale(2.1);
  min-height: 100%;
  z-index: -2;
}
*,
*::before,
*::after,
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow: hidden;
  height: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  perspective: 1px;
  transform-style: preserve-3d;
  font-family: 'Overlock', Arial, Helvetica, sans-serif;
}

.author {
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  padding: .5rem 1rem;
  background: #fafafa;
  border-bottom-left-radius: 5px;
  transition: 300ms;
}
.hinh2{
	width: 100%;
	position: absolute;
	height: 100vh;
	
	
	
}